.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}
.btn {
  display: inline-block;
  padding: 12px 28px 12px;
  margin-top: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  color: #e74c3c;
  border: 2px solid #e74c3c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
  background: #e74c3c;
  color: #fff;
}
.btn:active,
.btn.active {
  border-color: #e74c3c;
  background: #e74c3c;
  color: rgba(255, 255, 255, 0.75);
}
.btn.disabled {
  color: #fff;
  border: 2px solid #95a5a6;
  background: #95a5a6;
}
.btn.disabled:hover,
.btn.disabled:focus {
  text-decoration: none;
  background: #95a5a6;
  border: 2px solid #7f8c8d;
  color: #fff;
}
.block {
  display: block;
}
a.nostyle {
  text-decoration: inherit;
  color: inherit;
}
a.nostyle.btn {
  color: #fff;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.both {
  clear: both;
}
.hide {
  display: none;
}
section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
section h1 {
  margin: 0;
}
section .background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}
section .next-page {
  position: absolute;
  bottom: 50px;
  left: 50%;
  text-align: center;
  margin-left: -25px;
  padding-top: 13px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
section .next-page:hover {
  opacity: 0.7;
  cursor: pointer;
}
section.full {
  padding: 0 60px;
}
section.text-content .wrapper-rs {
  padding: 100px 0;
}
#page-index h1 {
  font-size: 42px;
}
#page-index #welcome {
  background: #fbf6f1;
}
#page-index #welcome.v-center,
#page-index #welcome .v-center {
  display: table;
  width: 100%;
}
#page-index #welcome.v-center > div,
#page-index #welcome .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  #page-index #welcome.v-center.row:before,
  #page-index #welcome .v-center.row:before,
  #page-index #welcome.v-center.row:after,
  #page-index #welcome .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  #page-index #welcome.v-center,
  #page-index #welcome .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  #page-index #welcome.v-center.row,
  #page-index #welcome .v-center.row {
    display: block;
    width: auto;
  }
  #page-index #welcome.v-center.row:before,
  #page-index #welcome .v-center.row:before,
  #page-index #welcome.v-center.row:after,
  #page-index #welcome .v-center.row:after {
    display: none;
  }
  #page-index #welcome.v-center.row > *,
  #page-index #welcome .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
#page-index #welcome .wrapper {
  width: 400px;
  text-align: center;
}
#page-index #features {
  background-image: url(../img/bg-features.png);
  color: #fff;
}
#page-index #features img {
  margin-top: 80px;
}
#page-index #features h2 {
  margin-top: 30px;
  font-size: 20px;
}
#page-index #features p {
  width: 150px;
  line-height: 1.8;
  font-size: 16px;
}
#page-index #team {
  background: #e2e2e2;
}
#page-index #team h1 {
  margin-bottom: 100px;
}
#page-index #team .img {
  height: 300px;
  background: #94a7b7;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
#page-index #team .img.tb {
  background-image: url(../img/me.png);
}
#page-index #team .name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
#page-index footer {
  padding: 40px 60px;
  text-align: center;
  color: #b6bbbf;
  background: #252a2e;
}
#page-index footer a {
  color: #5797c7;
}
#page-create {
  padding-bottom: 100px;
}
#page-create h1 {
  padding-top: 5px;
  margin-top: 100px;
  border-top: 7px solid #27ae60;
  color: #333;
  font-weight: 900;
  font-size: 26px;
  text-transform: uppercase;
}
#page-create label {
  margin-top: 10px;
  font-weight: 400;
}
#page-create input {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  outline: none;
  border: 2px solid #ecf0f1;
  border-radius: 3px;
}
#page-create input:focus {
  border-color: #3498db;
}
#page-create select {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  outline: none;
  border: 2px solid #ecf0f1;
  border-radius: 3px;
}
#page-create select:focus {
  border-color: #3498db;
}
#page-create .error {
  margin-bottom: 5px;
  padding: 2px 5px;
  border-radius: 2px;
  background: #fef5f4;
  color: #ac120a;
}
#page-create .info {
  padding-top: 10px;
}
#page-create .delimiter {
  margin-top: 100px;
  margin-bottom: 25px;
  padding-top: 20px;
  border-top: 7px solid #2980b9;
}
#page-read h1,
#page-read h2 {
  font-size: 42px;
}
#page-read #welcome {
  background: rgba(50, 54, 58, 0.9);
  color: #fff;
}
#page-read #welcome.v-center,
#page-read #welcome .v-center {
  display: table;
  width: 100%;
}
#page-read #welcome.v-center > div,
#page-read #welcome .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  #page-read #welcome.v-center.row:before,
  #page-read #welcome .v-center.row:before,
  #page-read #welcome.v-center.row:after,
  #page-read #welcome .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  #page-read #welcome.v-center,
  #page-read #welcome .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  #page-read #welcome.v-center.row,
  #page-read #welcome .v-center.row {
    display: block;
    width: auto;
  }
  #page-read #welcome.v-center.row:before,
  #page-read #welcome .v-center.row:before,
  #page-read #welcome.v-center.row:after,
  #page-read #welcome .v-center.row:after {
    display: none;
  }
  #page-read #welcome.v-center.row > *,
  #page-read #welcome .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
#page-read #welcome .background {
  background-image: url(https://farm9.staticflickr.com/8152/7435718416_ba1f1d299f_k.jpg);
}
#page-read #welcome .row {
  margin-bottom: 40px;
}
#page-read #welcome .edit-cv {
  position: absolute;
  top: 50px;
  right: 35px;
  cursor: pointer;
}
#page-read #welcome .edit-cv .button {
  position: relative;
  z-index: 100;
  width: 50px;
  height: 50px;
  background: #e74c3c;
  padding-top: 13px;
  text-align: center;
  border-radius: 50%;
  float: left;
}
#page-read #welcome .edit-cv form {
  float: left;
}
#page-read #welcome .edit-cv form input {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: -45px;
  padding: 13px;
  padding-left: 60px;
  width: 0;
  outline: none;
  border: none;
  border-radius: 25px;
  background: none;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}
#page-read #welcome .edit-cv:hover form input {
  width: 297px;
}
#page-read #employment {
  background: rgba(230, 230, 230, 0.5);
}
#page-read #employment ul {
  margin-top: 10px;
  margin-left: 5px;
  padding-left: 23px;
  border-left: 3px solid #479dda;
  list-style: none;
}
#page-read #employment ul li {
  position: relative;
  top: -7px;
  margin-bottom: 20px;
}
#page-read #employment ul li .year {
  font-weight: bold;
  color: #005997;
}
#page-read #employment ul li .company {
  font-weight: 600;
  margin: 5px 0;
}
#page-read #employment ul li .position {
  margin: 0;
  padding: 0;
}
#page-read #employment ul li:before {
  position: absolute;
  top: 7px;
  left: -30px;
  display: block;
  width: 12px;
  height: 12px;
  border: 3px solid #479dda;
  border-radius: 50%;
  background: #fff;
  content: "";
}
#page-read #employment ul.green {
  border-color: #399700;
}
#page-read #employment ul.green li:before {
  border-color: #399700;
}
#page-read #employment ul.green .year {
  color: #399700;
}
#page-read #languages {
  min-height: 400px;
}
#page-read #languages ul.faces {
  list-style: none;
}
#page-read #languages ul.faces li {
  position: relative;
  margin-bottom: 10px;
}
#page-read #languages ul.faces li:before {
  position: absolute;
  left: -35px;
  display: block;
  width: 24px;
  height: 24px;
  background: url('../img/rating.png');
  background-size: cover;
  content: "";
}
#page-read #languages ul.faces li.advanced:before {
  background-position: -24px 0;
}
#page-read #languages ul.faces li.intermediate:before {
  background-position: -49px 0;
}
#page-read #languages ul.faces li.basic:before {
  background-position: -73px 0;
}
#page-read #skills {
  background: #faf8eb;
  min-height: 400px;
}
#page-read #skills ul.faces {
  list-style: none;
}
#page-read #skills ul.faces li {
  position: relative;
  margin-bottom: 10px;
}
#page-read #skills ul.faces li:before {
  position: absolute;
  left: -35px;
  display: block;
  width: 24px;
  height: 24px;
  background: url('../img/rating.png');
  background-size: cover;
  content: "";
}
#page-read #skills ul.faces li.advanced:before {
  background-position: -24px 0;
}
#page-read #skills ul.faces li.intermediate:before {
  background-position: -49px 0;
}
#page-read #skills ul.faces li.basic:before {
  background-position: -73px 0;
}
#page-read footer {
  padding: 40px 60px;
  text-align: center;
  color: #b6bbbf;
  background: #252a2e;
}
#page-read footer a {
  color: #5797c7;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font: 300 18px 'Roboto';
}
/* Bootstrap hacks */
.row.no-gap {
  margin: 0;
}
.row.no-gap .col-xs-1,
.row.no-gap .col-sm-1,
.row.no-gap .col-md-1,
.row.no-gap .col-lg-1,
.row.no-gap .col-xs-2,
.row.no-gap .col-sm-2,
.row.no-gap .col-md-2,
.row.no-gap .col-lg-2,
.row.no-gap .col-xs-3,
.row.no-gap .col-sm-3,
.row.no-gap .col-md-3,
.row.no-gap .col-lg-3,
.row.no-gap .col-xs-4,
.row.no-gap .col-sm-4,
.row.no-gap .col-md-4,
.row.no-gap .col-lg-4,
.row.no-gap .col-xs-5,
.row.no-gap .col-sm-5,
.row.no-gap .col-md-5,
.row.no-gap .col-lg-5,
.row.no-gap .col-xs-6,
.row.no-gap .col-sm-6,
.row.no-gap .col-md-6,
.row.no-gap .col-lg-6,
.row.no-gap .col-xs-7,
.row.no-gap .col-sm-7,
.row.no-gap .col-md-7,
.row.no-gap .col-lg-7,
.row.no-gap .col-xs-8,
.row.no-gap .col-sm-8,
.row.no-gap .col-md-8,
.row.no-gap .col-lg-8,
.row.no-gap .col-xs-9,
.row.no-gap .col-sm-9,
.row.no-gap .col-md-9,
.row.no-gap .col-lg-9,
.row.no-gap .col-xs-10,
.row.no-gap .col-sm-10,
.row.no-gap .col-md-10,
.row.no-gap .col-lg-10,
.row.no-gap .col-xs-11,
.row.no-gap .col-sm-11,
.row.no-gap .col-md-11,
.row.no-gap .col-lg-11,
.row.no-gap .col-xs-12,
.row.no-gap .col-sm-12,
.row.no-gap .col-md-12,
.row.no-gap .col-lg-12 {
  padding: 0;
}
