<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,600,900&amp;subset=latin,latin-ext" type="text/css">
  </head>
  <body>
    <form name="form" ng-controller="ctrl" action="" method="POST">
      <div class="container">
        <h1>Basic information</h1>
        <div class="row">
          <div class="col-xs-6">
            <div>
              <label class="block">Prefix title</label>
              <input type="text" name="pretitle" ng-model="pretitle" ng-pattern="/^[a-zA-Z\. ]*$/" placeholder="e.g. Ing.">
              <div ng-hide="form.pretitle.$valid" class="error">Only letters, dots and spaces are allowed!</div>
            </div>
            <div>
              <label class="block">Name*</label>
              <input type="text" name="name" ng-model="name" ng-required="true" placeholder="e.g. John.">
              <div ng-hide="form.name.$valid" class="error">This is required!</div>
            </div>
          </div>
          <div class="col-xs-6">
            <div>
              <label class="block">Sufix Title</label>
              <input type="text" name="posttitle" ng-model="posttitle" ng-pattern="/^[a-zA-Z\. ]*$/" placeholder="e.g. CsC.">
              <div ng-hide="form.posttitle.$valid" class="error">Only letters, dots and spaces are allowed!</div>
            </div>
            <div>
              <label class="block">Surname*</label>
              <input type="text" name="surname" ng-model="surname" ng-required="true" placeholder="e.g. Smith">
              <div ng-hide="form.surname.$valid" class="error">This is required!</div>
            </div>
          </div>
        </div>
        <div class="both"></div>
        <h1>Contact information</h1>
        <div class="row">
          <div ng-init="phones = []; _phone = []" class="col-xs-6">
            <div>
              <label class="block">Phone number*</label>
              <input type="text" name="phone[0]" ng-model="_phone[0]" ng-pattern="/^[\+]{0,1}[0-9\(\) ]+$/" ng-required="true" placeholder="e.g. +420 123 456 789">
              <div ng-show="valid('phone[0]').invalid.required" class="error">Potrebné vyplniť!</div>
              <div ng-show="valid('phone[0]').invalid.pattern" class="error">Iba číslice, medzery, znak plus a zátvorky!</div>
              <div ng-repeat="phone in phones">
                <input type="text" name="phone[{{$index + 1}}]" ng-model="_phone[$index+1]" ng-pattern="/^[\+]{0,1}[0-9\(\) ]+$/" placeholder="e.g. +420 123 456 789">
                <div ng-hide="valid('phone[{{$index + 1}}]').valid" class="error">Iba číslice, medzery, znak plus a zátvorky!</div>
              </div><a ng-click="phones.push([])" class="btn pull-right">Add phone number</a>
            </div>
            <div class="both"></div>
            <div>
              <label class="block">Street*</label>
              <input type="text" name="street" ng-model="street" ng-required="true" placeholder="e.g. Bakery Street 63">
              <div ng-hide="form.street.$valid" class="error">This is required!</div>
            </div>
            <div>
              <label class="block">City*</label>
              <input type="text" name="city" ng-model="city" ng-required="true" placeholder="e.g. Boston">
              <div ng-hide="form.city.$valid" class="error">This is required!</div>
            </div>
            <div>
              <label class="block">Postal Code*</label>
              <input type="text" name="postal" ng-model="postal" ng-required="true" placeholder="e.g. 405 32">
              <div ng-hide="form.postal.$valid" class="error">This is required!</div>
            </div>
          </div>
          <div ng-init="emails = []" class="col-xs-6">
            <div>
              <label class="block">Email*</label>
              <input type="email" name="email[0]" ng-model="_email" ng-required="true" placeholder="e.g. your-email@gmail.com">
              <div ng-show="valid('email[0]').invalid.required" class="error">This is required!</div>
              <input type="email" name="email[{{ $index + 1}}]" ng-repeat="email in emails" placeholder="e.g. your-email@gmail.com"><a ng-click="emails.push([])" class="btn pull-right">Add email</a>
            </div>
          </div>
        </div>
        <div class="both"></div>
        <h1>Employment</h1>
        <div class="row">
          <div class="col-xs-4">
            <label class="block">Company</label>
          </div>
          <div class="col-xs-4">
            <label class="block">Position</label>
          </div>
          <div class="col-xs-2">
            <label class="block">Since</label>
          </div>
          <div class="col-xs-2">
            <label class="block">To</label>
          </div>
        </div>
        <div class="both"></div>
        <div ng-init="companies = []; _c_since = []; _c_to = []" class="row">
          <div class="col-xs-4">
            <input type="text" name="c_name[0]" placeholder="e.g. Nokia">
          </div>
          <div class="col-xs-4">
            <input type="text" name="c_position[0]" placeholder="e.g. CEO">
          </div>
          <div class="col-xs-2">
            <input type="text" name="c_since[0]" ng-model="_c_since[0]" ng-pattern="/^[0-9]{4}\-[0-9]{2}$/" placeholder="e.g. 2010-10">
            <div ng-hide="valid('c_since[0]').valid" class="error">In format YYYY-MM!</div>
          </div>
          <div class="col-xs-2">
            <input type="text" name="c_to[0]" ng-model="_c_to[0]" ng-pattern="/^[0-9]{4}\-[0-9]{2}$/" placeholder="e.g. 2012-07">
            <div ng-hide="valid('c_to[0]').valid" class="error">In format YYYY-MM!</div>
          </div>
        </div>
        <div ng-repeat="company in companies" class="row">
          <div class="col-xs-4">
            <input type="text" name="c_name[]" placeholder="e.g. Nokia">
          </div>
          <div class="col-xs-4">
            <input type="text" name="c_position[]" placeholder="e.g. CEO">
          </div>
          <div class="col-xs-2">
            <input type="text" name="c_since[{{$index + 1}}]" ng-model="_c_since[ $index + 1 ]" ng-pattern="/^[0-9]{4}\-[0-9]{2}$/" placeholder="e.g. 2010-10">
            <div ng-hide="valid('c_since[{{$index + 1}}]').valid" class="error">In format YYYY-MM!</div>
          </div>
          <div class="col-xs-2">
            <input type="text" name="c_to[{{$index + 1}}]" ng-model="_c_to[ $index + 1 ]" ng-pattern="/^[0-9]{4}\-[0-9]{2}$/" placeholder="e.g. 2012-07">
            <div ng-hide="valid('c_to[{{$index + 1}}]').valid" class="error">In format YYYY-MM!</div>
          </div>
        </div><a ng-click="companies.push([])" class="btn pull-right">Add employment</a>
        <div class="both"></div>
        <h1>Education</h1>
        <div class="row">
          <div class="col-xs-4">
            <label class="block">Name</label>
          </div>
          <div class="col-xs-4">
            <label class="block">Field of study</label>
          </div>
          <div class="col-xs-2">
            <label class="block">Since</label>
          </div>
          <div class="col-xs-2">
            <label class="block">To</label>
          </div>
        </div>
        <div class="both"></div>
        <div ng-init="studies = []; _e_since = []; _e_to = []" class="row">
          <div class="col-xs-4">
            <input type="text" name="e_name[]" placeholder="e.g. Masaryk University">
          </div>
          <div class="col-xs-4">
            <input type="text" name="e_position[]" placeholder="e.g. Informatics">
          </div>
          <div class="col-xs-2">
            <input type="text" name="e_since[0]" ng-model="_e_since[ 0 ]" ng-pattern="/^[0-9]{4}\-[0-9]{2}$/" placeholder="e.g. 2013-09">
            <div ng-hide="valid('e_since[0]').valid" class="error">In format YYYY-MM!</div>
          </div>
          <div class="col-xs-2">
            <input type="text" name="e_to[0]" ng-model="_e_to[ 0 ]" ng-pattern="/^[0-9]{4}\-[0-9]{2}$/" placeholder="e.g. 2015-05">
            <div ng-hide="valid('e_to[0]').valid" class="error">In format YYYY-MM!</div>
          </div>
        </div>
        <div ng-repeat="study in studies" class="row">
          <div class="col-xs-4">
            <input type="text" name="e_name[]" placeholder="e.g. Masaryk University">
          </div>
          <div class="col-xs-4">
            <input type="text" name="e_position[]" placeholder="e.g. Informatics">
          </div>
          <div class="col-xs-2">
            <input type="text" name="e_since[{{$index + 1}}]" ng-model="_e_since[ $index + 1 ]" ng-pattern="/^[0-9]{4}\-[0-9]{2}$/" placeholder="e.g. 2013-09">
            <div ng-hide="valid('e_since[{{$index + 1}}]').valid" class="error">In format YYYY-MM!</div>
          </div>
          <div class="col-xs-2">
            <input type="text" name="e_to[{{$index + 1}}]" ng-model="_e_to[ $index + 1 ]" ng-pattern="/^[0-9]{4}\-[0-9]{2}$/" placeholder="e.g. 2015-05">
            <div ng-hide="valid('e_to[{{$index + 1}}]').valid" class="error">In format YYYY-MM!</div>
          </div>
        </div><a ng-click="studies.push([])" class="btn pull-right">Add education</a>
        <div class="both"></div>
        <div class="row">
          <div class="col-xs-6">
            <h1>Languages</h1>
            <div ng-init="languages = [ [] ]" class="row">
              <div class="col-xs-8">
                <label class="block">Language</label>
              </div>
              <div class="col-xs-4">
                <label class="block">Level</label>
              </div>
            </div>
            <div class="both"></div>
            <div ng-repeat="language in languages" class="row">
              <div class="col-xs-8">
                <input type="text" name="l_language[]" placeholder="e.g. English">
              </div>
              <div class="col-xs-4">
                <select name="l_level[]">
                  <option>basic</option>
                  <option>intermediate</option>
                  <option>advanced</option>
                  <option>native speaker</option>
                </select>
              </div>
            </div><a ng-click="languages.push([])" class="btn pull-right">Add language</a>
          </div>
          <div class="col-xs-6">
            <h1>Certificates</h1>
            <div ng-init="certificates = [ [] ]" class="row">
              <div class="col-xs-12">
                <label class="block">Certificate</label>
                <input type="text" name="certificate[]" ng-repeat="certificate in certificates" placeholder="e.g. Cisco CCNA">
              </div>
            </div><a ng-click="certificates.push([])" class="btn pull-right">Add certificate</a>
          </div>
        </div>
        <div class="both"></div>
        <div class="row">
          <div ng-init="skills = [ [] ]" class="col-xs-6">
            <h1>Skills</h1>
            <div class="row">
              <div class="col-xs-8">
                <label class="block">Skill</label>
              </div>
              <div class="col-xs-4">
                <label class="block">Level</label>
              </div>
            </div>
            <div class="both"></div>
            <div ng-repeat="skill in skills" class="row">
              <div class="col-xs-8">
                <input type="text" name="s_skill[]" placeholder="e.g. Microsoft Office">
              </div>
              <div class="col-xs-4">
                <select name="s_level[]">
                  <option>basic</option>
                  <option>intermediate</option>
                  <option>advanced</option>
                </select>
              </div>
            </div><a ng-click="skills.push([])" class="btn pull-right">Add skill</a>
          </div>
          <div ng-init="hobbies = [ [] ]" class="col-xs-6">
            <h1>Hobby</h1>
            <div class="row">
              <div class="col-xs-12">
                <label class="block">Hobby</label>
                <input type="text" name="hobby[]" ng-repeat="hobby in hobbies" placeholder="e.g. Swimming"><a ng-click="hobbies.push([])" class="btn pull-right">Add hobby</a>
              </div>
            </div>
          </div>
        </div>
        <div class="both"></div>
        <div class="delimiter">
          <label class="block">Password</label>
          <div class="row">
            <div class="col-xs-6">
              <input type="text" name="password" ng-model="password" ng-required="true">
            </div>
            <div class="col-xs-6"><em class="info block">Set your password, so you will be able to update your CV later.</em></div>
          </div>
          <div class="both"></div>
        </div>
        <div ng-show=" ! form.$valid" class="btn disabled block text-center">Formular is not valid. Please fill it correctly.</div>
        <input type="submit" ng-show="form.$valid" class="btn">
      </div>
    </form>
    <script src="js/angular.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>