doctype 5
html(lang="en", ng-app)
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/font-awesome.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300,600,900&subset=latin,latin-ext', type='text/css')

	body#page-read

		section.full#welcome.v-center

			.background

			.wrapper

				.wrapper-rs
					
					.container-fluid

						.row

							.col-xs-12

								.margin-top-heavy.visible-xs

								h1 Ing. John Smith

							.clearfix

						.row

							.col-sm-3.col-xs-12

								| johnsmith@gmail.com
								br
								| johny@deenglish.com


							.col-sm-3.col-xs-12

								.margin-top.visible-xs

								| +421 000 234 982
								br
								| +420 024 118 39


							.col-sm-6.col-xs-12

								.margin-top.visible-xs

								address

									| Bakery Street 42/100
									br
									| Washington Post
									br
									| United States of America

								.margin-top-heavy.visible-xs

					div.next-page

						i.icon-chevron-down


					.edit-cv

						.button
							i.icon-pencil

						form( method="POST", action="" )
							input(type="password", name="password", placeholder="Password")


					.download-pdf

						a( href="#")

							.button
								i.icon-file-text

							.text-overflow
								.text Download PDF


		section.full.text-content#employment

			.wrapper-rs

				.container

					.row

						.col-md-6.col-xs-12

							h2 Employment

							ul
								li
									div.year 2013
									div.company Apple
									p.position CEO

								li
									div.year 2012
									div.company Microsoft
									p.position Product Marketing & Marketing Communications

								li
									div.year 2011
									div.company PayPal
									p.position Business Systems & Applications Administrator

								li
									div.year 2010
									div.company Google
									p.position Senior manager of senior managers of senior programmers & Senior troubleshooter

						.col-md-6.col-xs-12

							h2 Education

							ul.green

								li
									div.year 2017
									div.company Masaryk University
									p.position Master degree of Rotating subspaces with interplated curves

								li
									div.year 2015
									div.company Masaryk University
									p.position Bachelor degree of applied informatics

								li
									div.year 2012
									div.company High School
									p.position Informatics and digital systems

								li
									div.year 2008
									div.company Primary school
									p.position Basics of human knowledge

						.clearfix


		section.text-content#languages

			.wrapper-rs

				.container

					.row

						.col-md-6.col-xs-12

							h2 Languages

							ul.faces
								li.native Slovak
								li.intermediate English
								li.advanced Czech
								li.basic German
								li.basic Russian
								li.basic Spanish
								

						.col-md-6.col-xs-12

							h2 Certifications

							ul

								li Cisco CCNP
								li Cisco CCNA
								li English FCK
								li PHP Zend Certification


				.clearfix


		section.text-content#skills

			.wrapper-rs

				.container

					.row

						.col-md-6.col-xs-12

							h2 Skills

							ul.faces
								li.advanced HTML
								li.advanced PHP
								li.advanced JavaScript
								li.advanced Node.JS
								li.advanced MySQL
								li.advanced MongoDB
								li.advanced CodeIgniter, jQuery
								li.advanced Microsft Office
								li.advanced Adobe Photoshop
								li.advanced Adobe Illustrator
								li.intermediate Adobe After Effects
								li.intermediate Adobe Premier Pro
								li.basic Cinema 4D
								

						.col-md-6.col-xs-12

							h2 Hobbies

							ul

								li Swimming
								li Base-jumping
								li Piano
								li Guitar


				.clearfix


		footer

			| &copy;2014 Authors. All Rights Reserved.
			br
			a(href="https://github.com/tomasbonco/cv-generator") View on Github



		script( src="js/jquery.min.js" )
		script( src="js/script.js" )